# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
*.pkl
*.h5
*.pt

# Node/Frontend
node_modules/
dist/
build/
.Vite/

# IDE/OS files
.vscode/
.idea/
.DS_Store

# Uploads and temporary data
uploads/
