fastapi
uvicorn[standard]
sqlalchemy
pymysql
alembic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
scikit-learn
opencv-python
scikit-image
imbalanced-learn
joblib
razorpay
httpx
apscheduler
pandas
numpy
pydantic-settings
pydantic[email]
